<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qrscanner">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScannerFragment"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <service
            android:name=".ClipBoardService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.admin.zoom.ZoomActivity"
            android:theme="@style/Theme.ScannerFragment" />
        <activity android:name=".ui.user.UserActivity" />
        <activity
            android:name=".ui.admin.AdminActivity"
            android:theme="@style/Theme.ScannerFragment" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.QrScanner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>